version: 2.1
orbs:
  ruby: circleci/ruby@1.1

jobs:
  test:
    parameters:
      ruby-version:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
    steps:
      - checkout
      - run:
          command: bundle lock --add-platform x86_64-linux
      - ruby/install-deps:
          bundler-version: '1.17.2'
          with-cache: false
      - ruby/rspec-test
      - run:
          name: Rubocop
          command: bundle exec rubocop

workflows:
  build_and_test:
    jobs:
      - test:
          matrix:
            parameters:
              # https://github.com/CircleCI-Public/cimg-ruby
              ruby-version: ["2.6", "3.1", "3.2"]
